<template name="entry_process_step3">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="person_name">Email <small class="text-muted">(We will not share your email address with another member.)</small></label>
          <input type="text" class="form-control" id="person_name"  placeholder="">
        </div>
      </form>
    </div>
  </div>
  <div class="btn btn-default mt-2" id="step2">
    Back
  </div>
  <div class="btn btn-default mt-2 float-right" id="submit">
    Submit
  </div>
</template>
