<template name="entry_process_step1">
  <div class="card">
    <div class="card-body">

      <form id="form_id" class="mt-2" novalidate>


        <label for="form_id">I am looking for</label>

        <fieldset>
        {{#each categories}}
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio" value="{{value}}"> {{label_text}}
              {{#if muted_text}}
                <small class="text-muted">{{muted_text}}</small>
              {{/if}}
            </label>
          </div>
        {{/each}}
        </fieldset>
        <div class="invalid-feedback">More example invalid feedback text</div>
        <!-- <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio"> Coding/accountability partner
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio"> Feedback/career advice
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio"> Mentor
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio"> Mentee <small class="text-muted">(Offers to mentor/teach)</small>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio"> Potential new contributors to OSS projects
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio"> OSS Project Maintainers
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio"> Something Else <small class="text-muted">(Not mentioned above)</small>
          </label>
        </div> -->
      </form>
    </div>
  </div>
  <div class="btn btn-default mt-2 float-right" id="step2">
    Next
  </div>
</template>
