<template name="entry_process">
  <div class="container  mt-4">


    <!-- {{log instance.processStep.get 'processStep' object=instance.processStep.get}} -->
    {{#if compare instance.processStep.get '==' 1}}
      <div class="card">
        <div class="card-body">

          <form id="entry-process1" class="mt-2" novalidate>

            <div class="form-group">
              <label class="form-control-label" for="category">I am looking for:</label>
              {{#each categories}}
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="category" id="{{value}}" value="{{value}}" checked="{{#if compare instance.entryData.get.step1.category '==' value }}true{{/if}}" required>
                  <label class="custom-control-label" for="{{value}}">{{label_text}}
                    {{#if muted_text}}<small class="text-muted">{{muted_text}}</small>{{/if}}
                  </label>
                </div>
              {{/each}}
            </div>

          </form>
        </div>
      </div>
      <div class="btn btn-default mt-2 float-right" id="step1-next">
        Next
      </div>
    {{else if compare instance.processStep.get '==' 2}}

      <div class="card">
        <div class="card-body">

          <form id="entry-process2" class="mt-2" novalidate>
            <div class="form-group">
              <div class="form-group">
                <label for="entry-name">Hello, my name is:</label>
                <input type="text" class="form-control" id="entry-name" value="{{instance.entryData.get.step2.name}}" pattern="[A-Za-z\s]{3,50}" required>
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Your name will be anonymous except to your match
                </small>
              </div>
              <div class="form-group">
                <label for="entry-intro">One-line intro of yourself:</label>
                <input type="text" class="form-control" id="entry-intro" value="{{instance.entryData.get.step2.intro}}" pattern="[A-Za-z\s]{10,140}" required>
              </div>
              <div class="form-group">
                <label for="entry-request">Please provide more detail about what you're looking for:</label>
                <textarea name="entry_request" class="form-control" id="entry-request" rows="4" cols="40" required>{{instance.entryData.get.step2.request}}</textarea>
                <small id="passwordHelpBlock" class="form-text text-muted">
                  e.g. I am working on ______ and struggling with ______. Looking for someone who can ______.
                </small>
              </div>
            </div>

          </form>

        </div>
      </div>
      <div class="btn btn-default mt-2" id="step2-previous">
        Back
      </div>
      <div class="btn btn-default mt-2 float-right" id="step2-next">
        Next
      </div>

    {{else if compare instance.processStep.get '==' 3}}

      <div class="card">
        <div class="card-body">
          <form id="entry-process3" class="mt-2" novalidate>
            <div class="form-group">
              <label for="entry-email">Email <small class="text-muted">(We will not share your email address with others. )</small></label>
              <input type="text" class="form-control" id="entry-email" value="{{instance.entryData.get.step3.email}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <div class="invalid-feedback feedback-pos"> Please input valid email ID </div>
            </div>
            <div class="form-group">
              <label for="entry-timezone">Time Zone</label>
              <select class="custom-select" id="entry-timezone">
                {{#each timezones}}
                  <option data-id={{id}} data-title="{{label_text}}" data-daylight="{{daylight_saving}}" value="{{value}}" selected="{{#if compare instance.entryData.get.step3.timezoneId '==' id }}true{{/if}}" >{{label_text}}</option>
                {{/each}}
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="btn btn-default mt-2" id="step3-previous">
        Back
      </div>
      <div class="btn btn-default mt-2 float-right" id="step3-submit">
        Submit
      </div>

    {{/if}}
  </div>


</template>
