<!-- <template name="login">
  <div class="container">
    {{#unless currentUser}}
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <br>
        <br>
        <h2 class="text-center">Login</h2>
        <br>
        <br>
        <form id="login-form" novalidate>
          <div class="form-group">
            <label class="sr-only">Email address</label>
            <input type="text" class="form-control" id="selector" placeholder="Email address" autofocus autocomplete="email">
            <div class="invalid-feedback">
              <span id="selectorerror"></span>
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="current-password">
            <div class="invalid-feedback">
              <span id="pwderror"></span>
            </div>
          </div>

          {{#unless instance.processing.get}}
            <button id="submit" class="btn btn-primary btn-block">Login</button>
          {{else}}
            <button type="button" class="btn btn-primary btn-block disabled"><i class="fa fa-refresh fa-spin"></i> Processing </button>
          {{/unless}}

          <div class="form-group mt-3">
            <div class="text-center">
							<a href="{{pathFor 'forgot password'}}" tabindex="5" class="forgot-password">Forgot Password?</a>
						</div>
          </div>


        </form>

      </div>
    </div>
  {{else}}
    <div class="jumbotron align-center">
      <div class="container">
        <div class="row">
          <h6>You are already logged in! <a href="{{pathFor 'landing'}}">Go To Home</a> </h6>
        </div>
       </div>
    </div>
  {{/unless}}


  </div>

</template> -->
