node_modules/
.clipboard
settings.json
development-settings.json
.DS_Store
my-settings.json
stage-settings.json
.idea/cb-connect.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
db.php
api/php/db.php
.idea
assets
.vscode/
/coverage/
/vendor/
/logs/*
!/logs/README.md
.phpunit.result.cache
settings.php
api/php/src/settings.php
api/php/ui-match/app.js

