// Cosmo 4.1.3
// Bootswatch


// Variables ===================================================================

// $web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" !default;
// @import url($web-font-path);

// Navbar ======================================================================

// Buttons =====================================================================
.btn {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 13px 17px;
  border: none;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.btn.btn-default {
  color: #000;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.btn.btn-default.btn-border {
  border-color: #ffffff;
  color: #fff;
}
.btn.btn-default.btn-3d {
  box-shadow: inset 0 -2px 0 #cccccc;
}
.btn.btn-default:hover {
  background-color: #e6e6e6;
  color: #000;
}
.btn.btn-primary {
  background-color: #3498db;
}
.btn.btn-primary.btn-border {
  border-color: #3498db;
  color: #3498db;
}
.btn.btn-primary.btn-3d {
  box-shadow: inset 0 -2px 0 #196090;
}
.btn.btn-primary:hover {
  background-color: #217dbb;
  color: #fff;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success.btn-border {
  border-color: #2ecc71;
  color: #2ecc71;
}
.btn.btn-success.btn-3d {
  box-shadow: inset 0 -2px 0 #1b7943;
}
.btn.btn-success:hover {
  background-color: #25a25a;
  color: #fff;
}
.btn.btn-info {
  background-color: #81cfe0;
}
.btn.btn-info.btn-border {
  border-color: #81cfe0;
  color: #81cfe0;
}
.btn.btn-info.btn-3d {
  box-shadow: inset 0 -2px 0 #32aec9;
}
.btn.btn-info:hover {
  background-color: #58bfd6;
  color: #fff;
}
.btn.btn-warning {
  background-color: #f39c12;
}
.btn.btn-warning.btn-border {
  border-color: #f39c12;
  color: #f39c12;
}
.btn.btn-warning.btn-3d {
  box-shadow: inset 0 -2px 0 #976008;
}
.btn.btn-warning:hover {
  background-color: #c87f0a;
  color: #fff;
}
.btn.btn-danger {
  background-color: #c0392b;
}
.btn.btn-danger.btn-border {
  border-color: #c0392b;
  color: #c0392b;
}
.btn.btn-danger.btn-3d {
  box-shadow: inset 0 -2px 0 #6d2018;
}
.btn.btn-danger:hover {
  background-color: #962d22;
  color: #fff;
}
.btn.btn-lg {
  font-size: 14px;
  padding: 17px 24px;
}
.btn.btn-sm {
  padding: 9px 14px;
}
.btn.btn-xs {
  font-size: 11px;
  padding: 7px 12px;
}
.btn.btn-border {
  border: 2px solid;
  background: transparent;
}
.btn.btn-round {
  -webkit-border-radius: 40px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 40px;
  -moz-background-clip: padding;
  border-radius: 40px;
  background-clip: padding-box;
}
.btn.btn-square {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}


// Typography ==================================================================

body {
  font-family : "andale mono", "monotype.com", monaco, "courier new", courier, monospace;
  -webkit-font-smoothing: antialiased;
}

// Tables ======================================================================

// Forms =======================================================================

.error { color: red; font-family:verdana, Helvetica; font-size: 10px; }

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers ==================================================================
