<template name='forgot_password'>

  <div class="row mt-3">
    <div class="col-md-4 offset-md-4">
      <h4 class="text-center mt-3">Forgot Password</h4>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-lg-12">
            <form id="forgot-password-form">

                <div class="form-group">
                  <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>


                <div class="form-group">

                  {{#unless processing}}
                    <button id="submit" class="btn btn-primary btn-block">Send</button>
                  {{else}}
                    <button type="button" class="btn btn-primary btn-block disabled"><i class="fa fa-refresh fa-spin"></i> Processing</button>
                  {{/unless}}

                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
