<!-- <template name='reset_password'>
  <div class="container mt-3">

          <div class="row mt-3">
              <div class="col-md-4 offset-md-4">
                  <h4 class="sign-brand-name mt-3">Set new password</h4>


                  <div class="sign-container">
                      <form role="form" id='reset-password-form'>
                          <div class="form-group">
                              <input type="password" class="form-control" name="enrollment-email" id="password" placeholder="password" >
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" name="enrollment-email" id="repeatPassword" placeholder="repeat password" >
                          </div>
                          <div class="form-group">
                            {{#unless processing}}
                              <button id="submit" class="btn btn-lg btn-primary btn-block">Set</button>
                            {{else}}
                              <button type="button" class="btn btn-lg btn-primary btn-block disabled"><i class="fa fa-refresh fa-spin"></i> Processing</button>
                            {{/unless}}
                          </div>
                      </form>
                  </div>

              </div>
          </div>

</div>
</template> -->
