<template name="landing_for_visitors">
  <section class="container h-100" style="margin-top:140px">
    <div class="row">
      <hgroup class="mx-auto p-4 text-center">
        <h2>Connect with someone in the community who can help</h2>
        <a href="{{pathFor 'apply'}}"><button class="btn btn-primary mt-1" role="button">Apply</button></a>
      </hgroup>
    </div>
  </section>


  <section class="container" style="margin-top:140px">

    <div class="row">
      <div class="container cell-group">
        <div class="row text-center flex-nowrap">
          {{#each categories}}
            <div class="col-sm-4">
              <h6>{{short_lable}}</h6>
              <hr>
              {{#each entries value}}
                <h5 class="slot-box">
                  {{applicant.name}}
                </h5>
              {{/each}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>

  </section>
</template>
