<template name="navbar">
  <nav class="navbar navbar-expand-lg container">
    <a class="navbar-brand" href="{{pathFor 'landing'}}">CodeBuddies Connect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        {{#unless currentUser}}
          <li class="nav-item mr-3">
             <a class="nav-link" href="{{pathFor 'FAQ' }}">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="{{pathFor 'login'}}">
              <div class="btn btn-primary btn-sm btn-border">
                Login
              </div>
            </a>
          </li>
        {{else}}
          <li class="nav-item">
            <div class="btn btn-primary btn-sm btn-border">
              Logout
            </div>
          </li>
        {{/unless}}
      </ul>

    </div>
  </nav>
</template>
