<template name="woohoo">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <img src="/img/woohoo.png" alt="woohoo" class="mx-auto">
      </div>
      <div class="row text-center">
        <h3 class="mx-auto">Thank you for participating!</h3>
      </div>
      <div class="row">


        <h4 class="mx-auto">
          Please check you email for application confirmation.
        </h4>
      </div>
      <div class="row">
        <p class="mx-auto">Got any questions - reach out to <a href="mailto:codebuddiesdotorg@gmail.com?Subject=CB%20Connect%20Question">codebuddiesdotorg@gmail.com</a></p>
      </div>
      <div class="row">
        <p class="mx-auto"><a href="{{pathFor 'landing'}}">Go Back To Home</a></p>
      </div>

    </div>
  </div>
</template>
