#board {
  border: 1px solid black;
  padding: 0px;
  margin: 10px 0px 50px 0px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  h2 {
    font-size: 1em;
    font-weight: 700;
    padding: 5px 10px 0px 10px;
    margin: 0px;
  }
  .column {
    flex: 0 0 auto;
    margin: 5px;
    background: #efefef;
    width: 300px;
    .entries {
      overflow-y: scroll;
      max-height: 500px;
    }
  }
  .entry {
    margin: 5px;
    padding: 10px;
    background: #fff;
    position: relative;
    span.favorite {
      position: absolute;
      top: 3px;
      right: 3px;
      color: #ddd;
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}
